<div class="main-container">
    <div class="buttons-container">
        <div class="option-container">
            <div class="desc-container">
                <h2>Binary Classification</h2>
                Probability of malfunction in some period of time - in our example it is 20 cycles.                
                One cycle is some unit of time dependant on process (second, minute, hour, shift, ect.).
            </div>
            <p-button label="Enter" (onClick)="navBinary()" class="ui-button-raised"></p-button>
        </div>
        <div class="option-container">
            <div class="desc-container">
                <h2>Regression</h2>
                Remaining lifetime.
                Four mathematical models predict machine's time to failure. 
                Prediction is made based on the equipment (and similar equipments) history and current state.
            </div>
            <p-button label="Enter" (onClick)="navRegression()" class="ui-button-raised"></p-button>
        </div>        
    </div>
    <div class="team-container">
        <h4>Team members:</h4>
        <p>Michał Czerwonka</p>
        <p>Tomasz Gęsiarz</p>
        <p>Mateusz Migała</p>
        <p>Maciej Paczocha</p>
        <p>Wojciech Tobiś</p>        
    </div>
</div>