<div class="main-container">
    <div class="buttons-container">
        <div class="option-container">
            <div class="desc-container">
                <h2>Binary Classification</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec sit amet enim faucibus, suscipit neque nec, feugiat odio. 
                In egestas et urna in facilisis. Phasellus porttitor est sed dapibus facilisis. 
                Sed semper nunc tristique, tincidunt nibh at, sagittis nunc. Curabitur mollis lobortis justo vitae semper.
            </div>
            <p-button label="Enter" (onClick)="navBinary()" class="ui-button-raised"></p-button>
        </div>
        <div class="option-container">
            <div class="desc-container">
                <h2>Regression</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec sit amet enim faucibus, suscipit neque nec, feugiat odio. 
                In egestas et urna in facilisis. Phasellus porttitor est sed dapibus facilisis. 
                Sed semper nunc tristique, tincidunt nibh at, sagittis nunc. Curabitur mollis lobortis justo vitae semper.
            </div>
            <p-button label="Enter" (onClick)="navRegression()" class="ui-button-raised"></p-button>
        </div>        
    </div>
    <div class="team-container">
        <h4>Team members:</h4>
        <p>Michał Czerwonka</p>
        <p>Tomasz Gęsiarz</p>
        <p>Mateusz Migała</p>
        <p>Maciej Paczocha</p>
        <p>Wojciech Tobiś</p>        
    </div>
</div>